/************************************************************************************************/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "TTLakes-Regular", sans-serif;
}

/************************************************************************************************/

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  width: inherit;
  height: 88px;

  border-bottom: 1px solid #d9fff5;
}
.header__inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: auto;
}
.header__burger {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  width: 40px;
  height: 40px;

  border: none;
  background: none;
}
.header__link-logo {
  width: auto;
  height: 50.8px;
}
.header__link-logo:active {
  -webkit-tap-highlight-color: transparent;
}
.header__actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;

  width: auto;
  height: 40px;
}
.action {
  margin-right: 16px;
  width: 40px;
  height: 40px;

  list-style: none;
}
.action--divider {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.action:last-child {
  margin-right: 0;
}
.action__button {
  border: none;
  background: none;
}

/************************************************************************************************/

.main {
  background-color: #f8f8f8;
}
.heading {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  margin-right: 32px;
  width: auto;
  height: 88px;
}
.heading__title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  font-family: "TTLakes-ExtraBold", sans-serif;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}
.heading__tittle--active::before {
  margin-right: 12px;
  padding-left: 4px;
  padding-bottom: 2px;
  width: 4px;
  height: 42px;

  content: "";
  background-image: url(images/highlight.svg);
  background-size: cover;
}
.heading__button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  width: 382px;
  height: 40px;
}
.heading__button {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  width: auto;
  height: 40px;

  font-family: "TTLakes-Regular", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: none;
}
.heading__button > img {
  margin-left: 10px;
}

/************************************************************************************************/

.navigation {
  width: inherit;
  height: auto;

  overflow-x: auto;
  overflow-y: hidden;
}
.navigation::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.navigation-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.navigation-list__item {
  margin-right: 38.5px;
  list-style: none;
}
.navigation-list__item--active {
  padding: 0 20px;
  height: 40px;

  border: 2px solid #b8ffec;
  border-radius: 6px;
  background-color: #fff;
}
.navigation-list__link {
  display: flex;
  align-items: center;

  width: max-content;
  height: 40px;

  font-family: "TTLakes-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-decoration: none;
}
.navigation-list__link:link {
  color: #7e7e82;
}
.navigation-list__link:visited {
  color: #7e7e82;
  text-decoration: none;
}
.navigation-list__link:hover {
  color: #7e7e82;
}
.navigation-list__link:focus {
  color: #7e7e82;
}
.navigation-list__link:active {
  color: #7e7e82;
  -webkit-tap-highlight-color: transparent;
}
.navigation-list__item:first-of-type {
  margin-left: 16px;
}
.navigation-list__item:last-of-type {
  padding-right: 16px;
}
/************************************************************************************************/

.about {
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;

  margin-top: 24px;
  height: auto;
}
.about__inner {
  margin-left: 16px;
  margin-right: 16px;

  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}
.about__text {
  display: block;
  width: 288px;
  height: 90px;

  overflow: hidden;
  text-overflow: clip;
}
.about__expand {
  margin: 16px 0.5em 16px 0.5em;
  height: 24px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #1b1c21;

  border: none;
  background-color: inherit;
}
.about__expand-img {
  margin-right: 16px;
}

/************************************************************************************************/

@media screen and (min-width: 1px) and (max-width: 767px) {
  .header__actions--divider::before {
    margin-right: 20px;
    width: 2px;
    height: 32px;

    content: "";
    background-image: url(images/divider.svg);
    background-size: cover;
  }
  .action:nth-child(1) {
    display: none;
  }
  .action:nth-child(2) {
    display: none;
  }
  .action:nth-child(3) {
    display: none;
  }
  .heading__button-container {
    display: none;
  }
  .about__picture:nth-child(2) {
    display: none;
  }
  .about__picture:nth-child(3) {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
  .header__burger--divider::after {
    margin-left: 18px;
    padding-right: 2px;
    width: 2px;
    height: 32px;

    content: "";
    background-image: url(images/divider.svg);
    background-size: cover;
  }
  .header__link-logo {
    margin-left: 16px;
  }
  .header__actions::before {
    display: block;
    width: 250px;
    height: 40px;

    content: "";
    background-color: transparent;
  }
  .action--divider::before {
    padding-left: 2px;
    margin-right: 16px;
    width: 2px;
    height: 32px;

    content: "";
    background-image: url(images/divider.svg);
    background-size: cover;
  }
  .action:nth-child(5) {
    margin-left: 16px;
  }
  .heading__button-container {
    display: none;
  }
  .about {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .about__text {
    width: 312px;
    height: 145px;
  }
  .about__picture:nth-child(1) {
    display: none;
  }
  .about__picture:nth-child(2) {
    border-radius: 10px;
    margin-right: 16px;
  }
  .about__picture:nth-child(3) {
    display: none;
  }
}

@media screen and (min-width: 1120px) {
  .header {
    display: none;
  }
  .navigation {
    margin-left: 16px;
    margin-right: 16px;
  }
  .navigation-list {
    flex-flow: row wrap;
  }
  .navigation-list__item:first-of-type {
    margin-left: 0;
  }
  .navigation-list__item:last-of-type {
    margin-left: 20px;
    padding-right: 0;
  }
  .about {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .about__text {
    width: 490px;
    height: 160px;
  }
  .about__picture:nth-child(1) {
    display: none;
  }
  .about__picture:nth-child(2) {
    display: none;
  }
  .about__picture:nth-child(3) {
    border-radius: 10px;
    margin-right: 32px;
  }
}

/************************************************************************************************/

@font-face {
  font-family: "TTLakes-Regular";
  src: url("fonts/TTLakes-Regular.eot") format("embedded-opentype"),
    url("fonts/TTLakes-Regular.ttf") format("truetype"),
    url("fonts/TTLakes-Regular.woff") format("woff");
}

@font-face {
  font-family: "TTLakes-ExtraBold";
  src: url("fonts/TTLakes-ExtraBold.eot") format("embedded-opentype"),
    url("fonts/TTLakes-ExtraBold.ttf") format("truetype"),
    url("fonts/TTLakes-ExtraBold.woff") format("woff");
}

/************************************************************************************************/
